
h1{
    color: darkblue;
    text-transform: uppercase;
    text-align: center;
}
a{
    background-color: lightgrey;
    margin: 10px;
    padding: 5px 5px 5px 5px;
    color: blue;
    border-radius: 15%;
    text-align: center;

}
a:hover{
    color: grey;
}
